<div>
  <p>マイページ</p>
  <div>登録情報</div>
  <div>
  <%= link_to "編集する", edit_path, class:"btn btn-success" %>
  </div>
  <div>
    <p>氏名</p>
    <%= @customer.full_name %>
  </div>
  <div>
    <p>フリガナ</p>
    <%= @customer.full_name_kana %>
  </div>
  <div>
    <p>郵便番号</p>
    <%= @customer.postal_code %>
  </div>
  <div>
    <p>住所</p>
    <%= @customer.address %>
  </div>
  <div>
    <p>電話番号</p>
    <%= @customer.telephone_number %>
  </div>
  <div>
    <p>メールアドレス</p>
    <%= @customer.email %>
  </div>
  <div>
    <p>配送先</p>
    <%= link_to "一覧を見る", addresses_path, class:"btn btn-success" %>
  </div>
  <div>
    <p>注文履歴</p>
    <%= link_to "一覧を見る", orders_path, class:"btn btn-success" %>
  </div>
</div>