<div>
  <p>商品新規登録</p>
    <%= form_with model: @item, url: admin_items_path, local: true do |f| %>
      <div class="form-group">
        <%= f.label :image, "商品画像" %>
        <%= f.file_field :image, accept: "image/*", class:"item_image" %>
      </div>
      <div>
        <%= f.label :name, "商品名" %>
        <%= f.text_field :name, class:"item_name" %>
      </div>
      <div>
        <%= f.label :introduction, "商品説明" %>
        <%= f.text_area :introduction, class:"item_introduction" %>
      </div>

      <!-- ここにプルダウンでジャンル選択 -->

      <div>
        <%= f.label :price, "税抜価格" %>
        <%= f.text_area :price, class:"item_price" %>円
      </div>
      <div>
        <%= f.label :is_active, "販売ステータス" %>
        <%= f.select :is_active, [['販売中', true], ['販売停止中', false]] %>
      </div>
      <%= f.submit '新規登録', class:"btn btn-success" %>
    <% end %>
</div>