<div class:"row" style="width: 90%; margin: 20px auto;">
  <span><strong>ジャンルで検索</strong></span>
    <% @genres.each do |genre| %>
      <%= link_to items_path(genre: genre.id) do %>
        <span style = "background-color: #2D714C" class="badge"><%= genre.name %></span>
      <% end %>
    <% end %>
  <div class:"row">
    <h1>商品一覧</h1>
    <% @items.each do |item| %>
      <div>
        <%= link_to item_path(item) do %>
          <%= image_tag item.image, size:"200x200" %>
        <% end %>
        <%= item.name %>
        <%= item.price %>円<br>
      </div>
    <% end %>
  </div>
</div>