
<div class:"row">
  <div class="col-xs-3">
	  <%= render 'public/items/sidebar', genres: @genres %>
  </div>
  <br>

  <h2 style="margin: 20px 0;">商品一覧(全<%= @items_all.count %>件)</h2>
	<div class="col-xs-9 col-xs-offset-1">
		<div class="product-card-content">
      <% @items.each do |item| %>
        <div>
          <%= link_to item_path(item) do %>
            <%= image_tag item.image, size:"200x150" %>
          <% end %>
          <%= item.name %>
          <%= item.price %>円<br>
        </div>
      <% end %>
    </div>
  </div>
</div>