
<div class="row">
	<div class="col-xs-3">
	  <%= render 'public/items/sidebar', genres: @genres %>
  </div>
  <br>

  <div class="col-xs-5">
    <!-- 商品画像の大きさは別途調整  -->
    <%= image_tag @item.image, size:"350x250" %>
  </div>
  <div class="col-xs-5">
    <h3><%= @item.name %></h3>
    <p><%= @item.introduction %></p>
    <h4><%= @item.with_tax_price.to_s(:delimited) %><span>円(税込価格)</span></h4>

    <%= form_with model: @cart_item, url: cart_items_path(item_id: @item), method: :post, local: true do |f| %>
      <%= f.hidden_field :item_id %>
      <%= f.select :amount, *[1..10] %>
      <%= f.submit "カートに入れる", class: 'btn btn-primary col-xs-5' %>
    <% end %>
  </div>
</div>



